<!DOCTYPE html>
<html lang="en">

<head>
    <title>Saun Saraf</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/global.css') }}">
</head>

<body>

    <div class="nav">
        <div class="nav2">
            <table>
                <tr>
                    <td class="navtd">
                        <a href="{{ url_for('home') }}">HOME</a>
                    </td>
                    <td class="navtd">
                        <a href="{{ url_for('dashboard') }}">DASHBOARD</a>
                    </td>
                    <td class="navtd">
                        <a href="{{ url_for('login') }}">LOGIN</a>
                    </td>
                    <td class="navtd">
                        <a href="{{ url_for('register') }}">REGISTER</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <br><br><br><br><br><br><br><br>

    <center>

        <img src="{{ url_for('static',filename='images/logo.jpg') }}">

        <div class="main">

            <h2>About Us</h2>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis sapien condimentum, eleifend eros id, volutpat nulla. Curabitur porttitor ante at viverra eleifend. Pellentesque sem libero, venenatis sed consectetur in, tristique rhoncus dui. Phasellus tempor laoreet tellus, vel consectetur ipsum sodales a. Fusce arcu est, pulvinar ac varius porta, varius a odio. Fusce faucibus finibus sapien et tincidunt. Morbi semper dignissim diam sed feugiat. Aliquam a rhoncus nunc.
                Aenean in nulla sodales lectus auctor pharetra. Sed sem dui, gravida ac nulla at, feugiat ornare sem. Praesent lacus metus, egestas a luctus vel, facilisis aliquam ligula. Quisque iaculis aliquet nulla, vel finibus orci sagittis sed. Quisque tincidunt velit sit amet gravida condimentum. Vivamus posuere tellus arcu, vel dictum dolor rutrum non. Phasellus interdum sagittis nulla in vestibulum. Quisque hendrerit neque a dapibus ultrices. In in laoreet neque. Praesent condimentum scelerisque velit, sit amet porta ligula sagittis at.
                Nunc accumsan ultrices orci non ultrices. Cras molestie non dui a dictum. Vestibulum fermentum erat id nisl cursus viverra. Praesent posuere scelerisque sapien pretium blandit. Ut tincidunt eros lorem, a tincidunt eros iaculis eu. Suspendisse dolor ligula, posuere eget consequat ac, dictum at mi. Ut faucibus ullamcorper tempor.
                In a finibus dui. Suspendisse nisl diam, aliquam sed mi et, pulvinar imperdiet dui. Aliquam erat volutpat. Curabitur rhoncus sagittis ex in fringilla. Maecenas molestie ornare metus, et sollicitudin nisl gravida sed. Suspendisse gravida nulla consectetur risus bibendum, id condimentum tortor varius. Pellentesque vehicula sollicitudin aliquam. Nulla nec lorem sed turpis dictum sollicitudin. Mauris nec dapibus lorem, quis bibendum mi. Duis non ex egestas, volutpat leo ac, sodales diam. Aliquam iaculis pellentesque orci, vel dapibus felis maximus eget. Praesent augue arcu, fermentum mollis diam ac, euismod viverra tellus. In a dignissim odio. Morbi eget posuere ante, eu facilisis nunc. Phasellus ac risus finibus, dictum purus sit amet, hendrerit nulla. Mauris vehicula lobortis nisl, nec suscipit nunc viverra congue.
                Pellentesque in nulla a mi lobortis congue sed consequat orci. Praesent vel tellus condimentum, tincidunt orci ornare, placerat quam. Sed mattis metus at faucibus lacinia. Nulla facilisi. Aenean faucibus, nulla fringilla bibendum blandit, magna odio euismod est, in viverra lectus orci a arcu. Vivamus dignissim ullamcorper nisl, in laoreet augue. Curabitur faucibus eleifend lectus, vel ultricies urna rhoncus sed. Aenean id semper purus. Ut pharetra luctus dui nec gravida. Phasellus rhoncus iaculis enim, a tincidunt sapien lacinia at.
            </p>

        </div>

    </center>


</body>

</html>